@{
  Layout="Shared/_Layout.cshtml";
}
<h2>Translator</h2>
<form action="/results" method="post">
  <label for="phrase">Enter a phrase to translate:</label>
  <input name="phrase" id="phrase" type="text">
  <button type="submit" class="btn btn-md btn-primary">Submit</button>
</form>
